@import '../variables';

.categories {
  ul {
    display: flex;

    :first-child {
      margin-right: 100px;
    }

    li {
      font-size: 18px;
      margin-right: 30px;
      font-weight: 400;
      padding: 0 10px;
      margin-bottom: 2px;
      cursor: pointer;
      // transition: background-color 0.1s ease-in-out;

      &:hover {
        border-bottom: 2px solid #fa970c;
        margin-bottom: 0px;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        border-bottom: 2px solid #fa970c;
      }
    }
  }
}
