.root {
  ul {
    margin: 15px auto;
    text-align: center;

    li {
      display: inline;

      a {
        padding: 4px 9px;
        cursor: pointer;
        margin: 10px;

        &:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(19, 160, 26);
          border: 1px solid rgb(19, 160, 26);
        }
      }
    }
  }

  :global {
    .selected a {
      color: rgb(255, 255, 255);
      background-color: rgb(19, 160, 26);
      border: 1px solid rgb(19, 160, 26);
      font-weight: 600;
    }
  }
}
